@import '~styles/variables';

.container {
  color: $secondaryDark;
  font-family: $primaryFont;
  margin: auto;
  max-width: $maxWidth;
  text-align: center;

  .title {
    font-size: $title;
  }
}
