// Colors
$testiveOrange: #f09000;
$primary: #00a2a7;
$primaryLight: #b2e3e4;

$secondary: #134f8d;
$secondaryLight: #5ba0d0;
$secondaryDark: #2c3e50;

$gray: #959ea7;
$grayLight: #e9ebed;
$grayExtraLight: #f6f6f6;

// Fonts
$primaryFont: 'proxima-nova';

// Font Sizes
$extraSmall: 0.25rem;
$small: 0.5rem;
$standard: 1rem;
$subheader: 1.25rem;
$header: 1.5rem;
$title: 2rem;

// Font Weights
$thin: 100;
$light: 300;
$regular: 400;
$regularItalic: 400;
$semibold: 600;
$bold: 700;
$extraBold: 800;

// miscellaneous
$borderRadius: 0px;
$maxWidth: 400px;
